* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c3d9df;
    width: 100vw;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 20px;
    /* background-color: #c3d9df;*/
    background-color: #3d8d34;

    

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px;
}


header nav a {
    text-decoration: none;
    color: #444;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}

header nav a:hover {
    color: #fff;
}

main {
    font-weight: 400;
    margin: auto;
    width: 100%;
    height: 80vh;
    display: flex;
}

.input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container span {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #777;
}

.input-container .alert-msg {
    color: red;
}



input {
    width: 100%;
    height: 30px;
    /* border-radius: 10px; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #444;
    /* border: none; */
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
}

input::placeholder {
    font-size: 1rem;
}

input:focus {
    outline: none;
  }



.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.buttons button {
    background-color: #c3d9df;
    font-weight: semibold;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .5s ease;
    box-shadow: .2rem .2rem 1rem #ccc,
        -.2rem -.2rem 1rem #fff;
}

.buttons button:hover {
    color: #fff;
}

.buttons button:active {
    box-shadow: inset .5rem .5rem 1rem #fff,
        inset -.2rem -.2rem 1rem #ccc;
}

.encrypt-section {
    flex: 2;
    flex-direction: column;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.decrypt-section {
    position: relative;
    flex: 1;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lock-active {
    display: none;
}

.decrypt-section span {
    color: #020202;
    font-size: 1rem;
    font-weight: 400;
    padding: 20px;
    font-style: italic;
}

.decrypt-section .btn-copy {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    color: #444;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
}

.decrypt-section .btn-copy:hover {
    color: #537021;
}

.decrypt-section .alert-msg-copied {
    align-self: center;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #537021;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #c3d9df;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    main {
        height: 100vh;
    }


    nav {
        display: none;
    }

    input {
        border-bottom: 1px solid #555;
    }

    input::placeholder {
        font-size: 0.7rem;
    }


    .encrypt-section span {
        font-size: 0.5rem;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons button {
        font-size: 0.7rem;
        padding: 0.7rem 1.3rem;
        
    }

    .lock-img {
        width: 50%;

    }

    .decrypt-section .btn-copy {
        font-size: 0.7rem;
        padding: 0.7rem 1.3rem;
    }
}